Click
Flask
Flask-Cors
Jinja2
Keras
Keras-Applications
Keras-Preprocessing
Markdown
MarkupSafe
Pillow
PyYAML
Theano
Werkzeug
absl-py
astor
bleach
cachetools
setuptools
certifi
chardet
coordinates-converter
cx-Oracle
cx-oracle-on-ctypes
cxOracle
cycler
et-xmlfile
ez-setup
gast
gekko
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
html5lib
idna
itsdangerous
jdcal
joblib
kiwisolver
matplotlib
mpmath
numpy
numpy-cloud
oauthlib
openpyxl
opt-einsum
pandas
patsy
pdfkit
pip
plotly
protobuf
pyasn1
pyasn1-modules
pyodbc
pyparsing
pyproj
python-dateutil
pytz
reportlab
requests
requests-oauthlib
retrying
rsa
scikit-learn
scipy
seaborn
setuptools
six
sklearn
Cython
sklearn-contrib-py-earth
statsmodels
sympy
tb-nightly
tensorboard
tensorflow
tensorflow-estimator
tensorflow-tensorboard
termcolor
tf-estimator-nightly
tf-nightly
trianglesolver
typing
urllib3
wheel
wrapt
xlrd